@font-face {
    font-family: boucherie-block;
    src: url(boucherie-block.ttf);
}


body, html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(30deg, #457b6e, #a4e0c6);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-container {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.image-content {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  aspect-ratio: 762 / 977;
}

.qr-code-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -22%);
  /* adjust the size of the QR code container to fit your QR code image */
  width: 60%;
  height: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-container {
  /* border: 4px solid blue; */
  position: absolute;
  top: 391px;
  left: 21%;
  width: 50%;
  height: 72px;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
}

input {
  border: none;
  outline: none;
  background-color: hsla(120, 0%, 0%, 0);
  width: 100%;
  font-family: boucherie-block;
  font-size: 16px;
  font-size: 2vw;
}

.search-button {
  /* border: 1px solid black; */
  opacity: 0;
  position: absolute;
  top: 388px;
  left: 71%;
  width: 10.3%;
  height: 81px;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  font-family: boucherie-block;
  cursor: pointer;
}

.search-results-container {
  /* border: 1px solid blue; */
  position: absolute;
  top: 500px;
  left: 20.5%;
  width: 59%;
  height: 364px;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  flex-direction: column;
  font-family: boucherie-block;
}

.search-result-container {
  /* border: 1px solid white; */
  font-family: boucherie-block;
  font-size: min(max(2px, 3vw), 28px);
  line-height: 90%;
  height: 20%;
  display: block;
}

.search-result-container.selected {
  color: #fff;
}

.button-container {
  /* border: 1px solid green; */
  position: absolute;
  top: 866px;
  left: 25.5%;
  width: 49.6%;
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  align-items: center;
  text-align: center;
}

.button-text {
  font-family: boucherie-block;
  width: 100%;
  height: 84px;
  font-size: min(max(10px, 7vw), 54px);
  letter-spacing: 0.1em;
  color: #541904;
  cursor: pointer;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-text {
  display: none;
}

.play-text.visible {
  display: flex;
  flex: 0 0 84px;
}

.play-text.loading {
  animation: colorPulse 2s infinite;
}

.cancel-text {
  flex: 0 0 84px;
}

@keyframes colorPulse {
  0% { color: #541904; }
  50% { color: #ffffff; }
  100% { color: #541904; }
}

.copy-data {
  position: absolute;
  bottom: 3.1%;
  left: 50%;
  width: 50%;
  height: 8.8%;
  transform: translate(-50%, 0);
  opacity: 0;
  background-color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.copy-data:hover {
  opacity: 0.2;
  transition-duration: 0.2s;
}

.copy-data:active {
  opacity: 0.2;
  background-color: #000;
  transition-duration: 0.1s;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
